    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
    .row.content {
        height: 550px
    }
    /* Set gray background color and 100% height */
    
    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }
    /* On small screens, set height to 'auto' for the grid */
    
    @media screen and (max-width: 767px) {
        .row.content {
            height: auto;
        }
    }
    
    .container-fluid img {
        width: 50%;
        /* Set width to 100% */
        margin: auto;
        min-height: 100px;
        display: block;
        /* vertical-align: middle; */
    }
    
    div.well {
        height: 100%;
    }