<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">
                Rewarding Bin
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">หน้าหลัก</a></li>
                <li class="active"><a href="/overview">ภาพรวมการใช้งาน</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <img src="assets/img/logo.png" alt="Image">
            <br>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/">หน้าหลัก</a></li>
                <li class="active"><a href="/overview">ภาพรวมการใช้งาน</a></li>
            </ul><br>
        </div>
        <br>

        <div class="col-sm-9">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">ปี {{year}}
                        <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li *ngFor="let item of yearAll">
                        <a (click)="selecYear(item)">{{item}}</a>
                    </li>
                </ul>
            </div>
            <br>
            <div class="well">
                <p>จำนวนปริมาณขยะในแต่ละเดือน</p>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>