<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">
                Rewarding Bin
                <!-- <img src="assets/img/logo.png" alt="Image"> -->
            </a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">หน้าหลัก</a></li>
                <li><a href="/overview">ภาพรวมการใช้งาน</a></li>

                <!-- <li><a [routerLink]="[ '/home' ]" routerLinkActive="active">หน้าหลัก</a></li>
                <li><a [routerLink]="[ '/overview' ]">ภาพรวมการใช้งาน</a></li> -->
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <img src="assets/img/logo.png" alt="Image">
            <br>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/">หน้าหลัก</a></li>
                <li><a href="/overview">ภาพรวมการใช้งาน</a></li>
            </ul><br>
        </div>
        <br>

        <div class="col-sm-9">
            <div class="well">
                <h4>แผนที่แสดงตำแหน่งจุดติดตั้งขยะ</h4>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">



                    <agm-marker [latitude]="lat2" [longitude]="lng2" [iconUrl]="'https://sv1.picz.in.th/images/2019/01/18/9mA3wP.png'">
                        <agm-info-window>
                            <h3><strong>ถังขยะหมายเลข 2</strong></h3>
                            <p>จุดติดตั้งที่ 2</p>
                        </agm-info-window>
                    </agm-marker>

                    <div *ngIf="full">

                        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'https://sv1.picz.in.th/images/2019/01/18/9mA9Dt.png'">
                            <agm-info-window>
                                <h3><strong>ถังขยะอิเล็กทรอนิกส์ คณะวิทยาการสารสนเทศ</strong></h3>
                                <p>จุดติดตั้งที่ คณะวิทยาการสารสนเทศ</p>
                            </agm-info-window>
                        </agm-marker>

                    </div>

                    <div *ngIf="nearFull">
                        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'https://sv1.picz.in.th/images/2019/01/18/9mAhII.png'">
                            <agm-info-window>
                                <h3><strong>ถังขยะอิเล็กทรอนิกส์ คณะวิทยาการสารสนเทศ</strong></h3>
                                <p>จุดติดตั้งที่ คณะวิทยาการสารสนเทศ</p>
                            </agm-info-window>
                        </agm-marker>
                    </div>

                    <div *ngIf="notFull">
                        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'https://sv1.picz.in.th/images/2019/01/18/9mA3wP.png'">
                            <agm-info-window>
                                <h3><strong>ถังขยะอิเล็กทรอนิกส์ คณะวิทยาการสารสนเทศ</strong></h3>
                                <p>จุดติดตั้งที่ คณะวิทยาการสารสนเทศ</p>
                            </agm-info-window>
                        </agm-marker>
                    </div>


                </agm-map>

            </div>
            <br>
            <div *ngIf="full" class="alert alert-danger" role="alert">
                <h4 class="alert-heading">คำเตือน!</h4>
                <p>[ถังขยะอิเล็กทรอนิกส์ คณะวิทยาการสารสนเทศ]</p>
                <p class="mb-0">ขณะนี้ถังขยะจุดติดตั้งที่ "คณะวิทยาการสารสนเทศ" เต็มแล้วกรุณาทำการจัดเก็บขยะ</p>
                <hr>
                <button type="button" class="btn btn-success" (click)='clearBinQty();'>จัดเก็บขยะแล้ว</button>
            </div>
        </div>
    </div>
</div>